
<app-name-card cardName="Professional Dev" email="prodev@gmail.com" phone="0131312131"></app-name-card>

<div class="container">
  <app-product (newItemEvent)="addItem($event)"></app-product>
  <ul>
    <li *ngFor="let item of items" > {{item}}<button class="btn-btn" (click)="removeItem({item}.item)"  >xóa</button></li>
  </ul>
</div>

<div class="container__directive">
  Welcome <ng-container *ngIf="title"> to <i>the</i> {{title}} world.</ng-container>

  <h2 [ngStyle]="{'color':getColor()}">This is Color</h2>
  <input type="color" [(ngModel)]="color" >
  <h3 [ngStyle]="{'color':getColor()}">Color:{{color}}</h3>
  <div [ngStyle]="{'height':'140px', 'width':'100%', 'background-color':getColor()}">
  </div>

  <p appHighlight>Highlight me!</p>

</div>

<div class="container">
  <app-produclist></app-produclist>
</div>


